:root {
  --swiper-navigation-color: #dad7cd;
  --swiper-pagination-color: #dad7cd;
}

.swiper {
  width: 100%;
  height: 70vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
}

.overlay h2 {
  font-size: 2.5rem;
}

.overlay p {
  font-size: 1.2rem;
  max-width: 600px;
}
