@import "tailwindcss";
@plugin "daisyui";

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.playwrite-au-tas{
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #dad7cd;
  --color-base-300:#344e41;
  --color-primary: #344e41;
  --color-secondary: #dad7cd;
  --color-accent: #4B5563;
}
